/Pytorch/.ipynb_checkpoints
/Pytorch/data
/Pytorch/Cifar
/Pytorch/BelgiumTSC_Testing
/Pytorch/BelgiumTSC_Training

/Visuals

/Pytorch/Results/old_results
/Pytorch/Results/cut-off_laptop_breakdown
/Pytorch/Results/CIFAR10
/Pytorch/Results/CIFAR100
/Pytorch/Results/Plots